$primaryColor: #3120E0;
$secondaryColor: #FF8200;
$white: #FFFFFF;
$black: #000000;
$grey: grey;
$lightGrey: #EDEDED;

$homepageIconsFontSize: 150px;
$companySloganFontSize: 60px;
$navCompanyNameFontSize: 26px;
$largeFontSize: 24px;
$mediumFontSize: 20px;
$smallFontSize: 16px;

$largeSpacing: 40px;
$mediumSpacing: 20px;
$smallSpacing: 10px;
$xSmallSpacing: 5px;
$noSpacing: 0px;

$hamburgerIconWidth: 30px;
$hamburgerIconHeight: 5px;

$hamburgerOpenYTranslation: 10px;
$verticalTranslation: 20px;
$horizontalTranslation: 20px;

$navHeight: 80px;

$sidebarNavLinkHeight: 60px;

$mediumScreenSize: 860px;
$smallScreenSize: 400px;

$zIndexSidebarLayer: 99;



@mixin flex-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-space-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin homePageGradient {
  background: linear-gradient(to left, $primaryColor, $white);
}

@mixin transition-transform {
  transition: transform 1s ease-in-out;
}

@mixin text-center {
  text-align: center;
}

@mixin text-right {
  text-align: end;
}

@mixin text-left {
  text-align: start;
}

@mixin transition-main-large-screen-left {
  transform: translateX(-$horizontalTranslation);
}

@mixin transition-main-large-screen-right {
  transform: translateX($horizontalTranslation);
}

@mixin transition-main-medium-screen {
  transform: translateY($verticalTranslation);
}

@mixin transition-reset {
  transform: translate($noSpacing, $noSpacing);
}

@mixin cursor-pointer {
  cursor: pointer;
}

@mixin card-shadow {
  box-shadow: 0px 0px $mediumSpacing $grey;
}


