@import '../../../variables';

.company-slogan {
  min-height: $companySloganDivHeight;
  font-size: $companySloganFontSize;
  margin: $largeSpacing $noSpacing;
  font-weight: bolder;
  @include flex-space-around;

  p {
    span {
      color: $secondaryColor;
    }
  }

  img {
    width: 50%;
    border: 10px;
  }
}

@media (max-width: $mediumScreenSize) {
  .company-slogan {
    p {
      padding: $mediumSpacing;
    }
  }
}