@import '../../../variables';

.card {
  width: 600px;
  padding: $mediumSpacing;
  border-radius: $mediumLargeSpacing;
  margin: $largeSpacing;
  @include card-shadow;
  @include transition-transform;
  @include card-transform-vertical;

  &.visible {
    @include transform-reset;
  }

  .header {
    font-size: $xLargeFontSize;
    font-weight: bold;
    margin-bottom: $mediumSpacing;
    @include text-center;

    span {
      display: none;
    }
  }

  .body {
    @include flex-space-center;
    flex-wrap: nowrap;

    .icon {
      font-size: $homepageIconsFontSize;
      margin-right: $largeSpacing;
    }

    .text ul {
      list-style: none;

      li {
        font-size: $mediumFontSize;
      }
    }
  }
}

@media (max-width: $mediumScreenSize) {
  .card {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .card {
    margin: $largeSpacing $noSpacing;
    .body {
      flex-direction: column;
  
      .icon {
        margin-bottom: $smallSpacing;
      }
  
      .text ul li {
        @include text-center;
      }
    }
  }
}