nav {
  height: 80px;
  background-color: #ffffff;
  color: #181818;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

nav > div {
  font-size: 22px;
  color: #3120E0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 16px;
}

nav > div,
nav ul li {
  cursor: pointer;
}