@import '../../../_variables.scss';

nav {
  height: $navHeight;
  background-color: #ffffff;
  color: #181818;
  font-weight: bold;
  padding: 0px 30px;
  @include flex-space-between;

  & > div {
    font-size: $navCompanyNameFontSize;
    color: $primaryColor;
    @include cursor-pointer;
  }

  ul {
    list-style: none;
    width: 300px;
    font-size: $smallFontSize;
    @include flex-space-between;

    li {
      @include cursor-pointer;
    }
  }
}

@media (max-width: $mediumScreenSize) {
  nav {
    justify-content: center;
    ul {
      display: none;
    }
  }
}

@media (max-width: $smallScreenSize) {
  nav {
    & > div {
      display: none;
    }
  }
}