@import '../../../variables';

.mission {
  min-height: 500px;
  color: $black;
  padding: $largeSpacing;
  // background-image: url("../../../assets/HomePageImages/mission-background-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  @include flex-space-around;

  .image {
    transform: translateX(-30px);
    @include transition-transform;
    @include flex-space-center;

    &.visible {
      @include transition-reset;
    }

    span {
      font-size: $homepageIconsFontSize;
    }
  }

  .description {
    width: 60%;
    justify-content: start;
    border-radius: $largeSpacing;
    padding: 40px;
    font-size: 26px;
    transform: translateX(30px);
    @include transition-transform;
    @include card-shadow;

    &.visible {
      @include transition-reset;
    }

    p {
      margin: 30px 0px;
    }

    h2 {
      color: $primaryColor;
      @include text-center;

      span {
        display: none;
      }
    }
  }
}

@media (max-width: $mediumScreenSize) {
  .mission {
    flex-direction: column;
    background-size: auto;
    padding-top: $largeSpacing;

    .image {
      display: none;
    }

    .description {
      width: 100%;
      @include transition-main-medium-screen;

      h2 {
        span {
          display: inline-block;
          font-size: $cardIconFontSize;
          margin-left: $mediumSpacing;
        }
      }
    }
  }
}